<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/fondo.css">
    <title>Héroes de la programación</title>
</head>
<body>
    <nav> 
        <div class="dropdown-child">
            <h1>Heroes de la programación</h1> 
            <a href="/babbage">Babbage</a>
            <a href="/berners-lee">Berners Lee</a>
            <a href="/clarke">Clarke Edith</a>
            <a href="/hamilton">Hamilton</a>
            <a href="/hopper">Hopper</a>
            <a href="/lovelace">Lovelace</a>
            <a href="/turing">Turing</a>
        </div>

    </nav>
    <p class="centrado">
        <img src="/img/gato-con-botas.gif" title="Lo siento por la entrega tardía, gracias."> 
      </p>
    
</body>
</html>